<div class="container">

    <div class="row">

        <div class="col">

            <div class="card border-dark shadow-lg mt-5">

                <div class="card-header">
                    <strong> Usuário </strong>
                </div>

                <div class="card-body">

                    <div class="container">

                        <div class="row">

                            <div class="col-12">
                               <p><strong>Nome:</strong> {{funcionario?.pessoa.nome}}</p>
                            </div>
                            <div class="col-12">
                                <p><strong>CPF:</strong> {{funcionario?.pessoa.cpf | cpf}}</p>
                             </div>
                             <div class="col-12">
                                <p><strong>Data Nascimento:</strong> {{funcionario?.pessoa.dataNascimento | date: 'dd/MM/yyyy'}}</p>
                             </div>
                             <div class="col-12">
                                <p><strong>Matricula:</strong> {{funcionario?.matricula}}</p>
                             </div>
                             <div class="col-12">
                                <p><strong>Email:</strong> {{funcionario?.email}}</p>
                             </div>
                             <div class="col-12">
                                <p><strong>Data Admissão:</strong> {{funcionario?.dataAdmissao | date: 'dd/MM/yyyy'}}</p>
                             </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>