/* eye */
button.btn.btn-layer.active em.bi.bi-eye-fill {
  display: inline-block;
}

button.btn.btn-layer em.bi.bi-eye-fill {
  display: none;
}

button.btn.btn-layer.active em.bi.bi-eye-slash-fill {
  display: none;
}

button.btn.btn-layer em.bi.bi-eye-slash-fill {
  display: inline-block;
}

/* plus/dash */
.accordion button[aria-expanded='false'].btn em.bi.bi-plus {
  display: inline-block;
}

.accordion button[aria-expanded='true'].btn em.bi.bi-plus {
  display: none;
}

.accordion button[aria-expanded='true'].btn em.bi.bi-dash {
  display: inline-block;
}

.accordion button[aria-expanded='false'].btn em.bi.bi-dash {
  display: none;
}

div#fullscreen div.col div#map {
  height: 600px!important;
}

div#fullscreen:fullscreen div.col div#map {
  height: 100%!important;
}