<div class="container">
    <div class="row">
        <div class="col">
            <div class="card border-dark shadow-lg mt-5">
                <div class="card-header">
                    <strong> Solicitações </strong>
                </div>
                <div class="card-body">
                    <p-table [value]="solicitacoes" dataKey="id" [paginator]="true" [rows]="5"
                        styleClass="p-datatable-striped p-datatable-responsive-demo"
                        (onRowExpand)="onRowExpand($event)">
                        <ng-template pTemplate="header">
                            <tr>
                                <th scope="col" style="width: 3rem"></th>
                                <th scope="col">Nome</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Quantidade</th>
                                <th scope="col">Data Inclusão</th>
                                <th scope="col">Ações</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-solicitacao let-expanded="expanded">
                            <tr>
                                <td>
                                    <button type="button" pButton pRipple [pRowToggler]="solicitacao"
                                        class="p-button-text p-button-rounded p-button-plain"
                                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                                </td>
                                <td>{{solicitacao.nome}}</td>
                                <td>{{solicitacao.descricao}}</td>
                                <td>{{solicitacao.quantidade}}</td>
                                <td>{{solicitacao.dataInclusao | date: 'dd/MM/yyyy HH:mm'}}</td>
                                <td>
                                    <button pButton pRipple icon="pi pi-plus"
                                        class="p-button-rounded p-button-secondary mr-2" pTooltip="Cadastrar Aquisição"
                                        tooltipPosition="top" (click)="cadastrar(solicitacao)">
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="rowexpansion" let-solicitacao>
                            <tr>
                                <td colspan="6">
                                    <p-table [value]="solicitacao.aquisicoes" dataKey="id" [paginator]="true" [rows]="3"
                                        styleClass="p-datatable-striped p-datatable-responsive-demo">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th scope="col">CNPJ</th>
                                                <th scope="col">Nota Fiscal</th>
                                                <th scope="col">Quantidade</th>
                                                <th scope="col">Valor</th>
                                                <th scope="col">Data Inclusão</th>
                                                <th scope="col">Ações</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-aquisicao>
                                            <tr>
                                                <td>{{aquisicao.cnpj}}</td>
                                                <td>{{aquisicao.notaFiscal}}</td>
                                                <td>{{aquisicao.quantidade}}</td>
                                                <td>{{aquisicao.valor}}</td>
                                                <td>{{aquisicao.dataInclusao | date: 'dd/MM/yyyy HH:mm'}}</td>
                                                <td>
                                                    <button pButton pRipple icon="pi pi-plus"
                                                        class="p-button-rounded p-button-secondary mr-2" pTooltip="Cadastrar Aquisição"
                                                        tooltipPosition="top" (click)="editar(solicitacao, aquisicao)">
                                                    </button>
                                                    <button pButton pRipple icon="pi pi-trash"
                                                        class="p-button-rounded p-button-secondary mr-2" pTooltip="Remover Aquisição"
                                                        tooltipPosition="top" (click)="remover(aquisicao)">
                                                    </button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage">
                                            <tr>
                                                <td colspan="6">Não há aquisições</td>
                                            </tr>
                                        </ng-template>
                                     </p-table>
                                </td>
                            </tr>

                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="6">Não há solicitações</td>
                            </tr>
                        </ng-template>
                    </p-table>

                </div>

            </div>

        </div>

    </div>

</div>

<form [formGroup]="formAquisicao" (ngSubmit)="onSubmitAquisicao()">
    <p-dialog [(visible)]="dialogAquisicaoOpen" [style]="{width: '450px'}"
        header="{{aquisicao?.id ? 'Editar' : 'Cadastrar'}} Aquisição" [modal]="true" styleClass="p-fluid"
        [closeOnEscape]="false" [closable]="false">
        <ng-template pTemplate="content">
            <div class="form-group">
                <label><strong>Nome:</strong></label>
                <br>
                <span>{{solicitacao.nome}}</span>
            </div>
            <div class="form-group">
                <label><strong>Descrição:</strong></label>
                <br>
                <span>{{solicitacao.descricao}}</span>
            </div>
            <div class="form-group">
                <label><strong>Quantidade:</strong></label>
                <br>
                <span>{{solicitacao.quantidade}}</span>
            </div>
            <div class="form-group">
                <label for="cnpj">CNPJ:</label>
                <p-inputMask id="cnpj" formControlName="cnpj" mask="99.999.999/9999-99"></p-inputMask>
            </div>
            <div class="form-group">
                <label for="notaFiscal">Nota Fiscal:</label>
                <input type="text" class="form-control" id="notaFiscal" formControlName="notaFiscal">
            </div>
            <div class="form-group">
                <label for="valor">Valor:</label>
                <input type="number" class="form-control" id="valor" formControlName="valor">
            </div>
            <div class="form-group">
                <label for="quantidade">Quantidade:</label>
                <input type="number" class="form-control" id="quantidade" formControlName="quantidade">
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button type="button" pButton pRipple label="Cancelar" icon="pi pi-times"
                class="p-button p-button-secondary" (click)="hideDialogAquisicao()"></button>
            <button type="submit" pButton pRipple label="Salvar" icon="pi pi-check"
                class="p-button p-button-secondary"></button>
        </ng-template>
    </p-dialog>
</form>