
<div class="modal fade" id="confirmModa" tabindex="-1" role="dialog" #confirmModal >
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title"><span class="bi {{confirm?.icon}}" ></span> {{confirm?.title}}</h6>
            </div>
            <div class="modal-body"> 
                <span style="font-size: small" >{{confirm?.message}}</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal" (click)="confirmar()" >Confirmar</button> 
                <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal" (click)="cancelar()"  >Cancelar</button>
            </div>
        </div>
    </div>
</div>

